{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/kitchen.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/jquery-ui.min.css') }}">
  <script src="{{ url_for('static', filename='js/lib/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/lib/jquery-ui.min.js') }}"></script>
  <script type="text/javascript">
    var ordersURL = '{{ url_for("kitchen.ordersByDate") }}';
    var showOrderURL = '{{ url_for("kitchen.showOrder") }}';
  </script>
  <script src="{{ url_for('static', filename='js/kitchen.js') }}"></script>
{% endblock %}

{% block header %}
  <h1>{% block title %}Orders{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>Date: <input type="text" name="date" id="date"
    placeholder="Click to select a date" readonly value="">
  </p>
  <table class="order" id="tblOrder">
    <thead class="orders">
      <tr>
        <th class="orders">Order #</th>
        <th class="orders">Table #</th>
        <th class="orders">Date and Time</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <table class="item" id="tblItem">
    <thead class="items">
      <tr>
        <th class="items">Order</th>
        <th class="items">Table</th>
        <th class="items">Date</th>
        <th class="items">Item</th>
        <th class="items">Diet</th>
        <th class="items">Spicy<th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
{% endblock %}
