{% extends 'base.html' %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block header %}
  <h1>{% block title %}Add New Section - {{ menu }}{% endblock %}</h1>
{% endblock %}

{% block content %}

  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
    <br>
    <label for="description">Description</label>
    <textarea name="description" id="description">{{ request.form['description'] }}</textarea>
    </br>
    <input type="submit" value="Save">
  </form>

{% endblock %}
