{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
{% endblock %}

{% block header %}
  <h1>{% block title %}Menus{% endblock %}</h1>
{% endblock %}

{% block content %}
  </br>
  {% for m, data in menu_data.items() %}
    <h2>{{ m[0] }}</h2>
    <p><i>{{ m[1] }}</i></p>
    {% if g.user and g.user['type'] == 'Manager' %}
    <nav>
      <ul>
        <li><a href="{{ url_for('menu.add_item', menu=m[0]) }}">Add Item</a></li>
        <li><a href="{{ url_for('menu.add_section', menu=m[0]) }}">Add Section</a></li>
        <li><a href="{{ url_for('menu.edit_item', menu=m[0]) }}">Edit Item</a></li>
        <li><a href="{{ url_for('menu.edit_section', menu=m[0]) }}">Edit Section</a></li>
      </ul>
    </nav>
    {% elif g.user is none and loop.first %}
    <nav>
      <ul>
        <li>
          <form id="filter" method="post">
            <fieldset>
              <legend>Filters</legend>
              <input type="checkbox" id="vegan" name="filters" value="Vegan"><label for="vegan">Vegan</label>
              <input type="checkbox" id="vegetarian" name="filters" value="Vegetarian"><label for="vegetarian">Vegetarian</label>
              <input type="checkbox" id="mild" name="filters" value="Mild"><label for="mild">Mild Spicy</label>
              <input type="checkbox" id="medium" name="filters" value="Medium"><label for="medium">Medium Spicy</label>
              <input type="checkbox" id="hot" name="filters" value="Hot"><label for="hot">Hot</label>
            </fieldset>
          </form>
        </li>
      </ul>
    </nav>
    {% endif %}
    {% for s, items in data.items() %}
      {% if items %}
      <article class="item">
        <header>
          <div>
            <hr>
            <h1>{{ s[0] }}</h1>
            <p><i>{{ s[1] }}</i></p>
            <hr>
          </div>
        </header>
        {% for i in items %}
        <div>
          {% if not g.user %}
          <a href="{{ url_for('cart.add_to_cart', item_id=i['id']) }}"
          class="add-btn" title="Click to order">
            <h4>{{ i['name'] }} - {{ "£%.2f"|format(i['cost']) }}</h4>
          </a>
          {% else %}
          <h4>{{ i['name'] }} - {{ "£%.2f"|format(i['cost']) }}</h4>
          {% endif %}
          <p class="italic">{{ i['description'] }}</p>
          <nav>
            <ul class="centre">
              {% if i['diet'] %}
              <li class="diet"><img src="../static/images/{{i['diet']}}.png" alt="{{i['diet']}}"
                 title="{{i['diet']}}" width="50" height="35"></li>
              {% endif %}
              {% if i['spicy'] %}
              <li class="spicy"><img src="../static/images/{{i['spicy']}}.png" alt="{{i['spicy']}}"
                 title="{{i['spicy']}}" width="50" height="35"></li>
              {% endif %}
            </ul>
          </nav>
        </div>
        {% endfor %}
      </article>
      {% endif %}
    {% endfor %}
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
