table.item {
  width: 100%;
}

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

thead {
  border-bottom: 2px solid #377ba8;
}

thead.items th:nth-child(1) {
  width: 9%;
}

thead.items th:nth-child(2) {
  width: 9%;
}

thead.items th:nth-child(3) {
  width: 17%;
}

thead.items th:nth-child(4) {
  width: 55%;
}

thead.items th:nth-child(5) {
  width: 10%;
  border-bottom: 1px;
}

thead.orders th:nth-child(1) {
  width: 25%;
}

thead.orders th:nth-child(2) {
  width: 25%;
}

thead.orders th:nth-child(3) {
  width: 50%;
}

th, td {
  padding: 10px;
}

textarea {
  font-weight: 500;
  font-size: 15px;
  width: 270px;
}

.desc {
  font-weight: 300;
  font-style: italic;
  margin-top: 5px;
  color: #86939E;
}

.btn {
  width: 100px;
  height: 30px;
  background-color: #E1E8EE;
  margin-top: 3px;
  margin-bottom: 3px;
  margin: 1rem 0;
  cursor: pointer;
  border-radius: 6px;
  border: none;
}
