<!doctype html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} | DROMS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
  </head>
  <body>
    <nav>
      <h1><a href="{{ url_for('menu.index') }}">DROMS</a></h1>
      <ul>
        {% if session.get('tableNo', none) %}
        <li class="navigation">Table No: {{ session['tableNo'] }}</li>
        <li><h3><a href="{{ url_for('index.free_seat', tableNo=session['tableNo']) }}">Free Seat</a></h3></li>
        {% endif %}
        {% if not g.user %}
        <li><h3><a href="{{ url_for('index') }}">View Tables</a></h3></li>
        <li class="navigation">[{{ session['cart'] | sum(attribute='qty') }}]</li>
        <li><h3><a href="{{ url_for('cart.view_cart') }}">View Order</a></h3></li>
        {% endif %}
        {% if g.user %}
          <li class="navigation"><i>Welcome {{ g.user['username'] }}</i></li>
          <li><h3><a href="{{ url_for('auth.logout') }}">Logout</a></h3></li>
          {% if g.user['type'] == 'Manager' %}
          <li><h3><a href="{{ url_for('auth.register') }}">Register</a></h3></li>
          {% endif %}
          {% if g.user['type'] in ['Manager', 'Cook'] %}
          <li><h3><a href="{{ url_for('kitchen.home') }}">Orders</a></h3></li>
          {% endif %}
        {% else %}
          <li><h3><a href="{{ url_for('auth.login') }}">Login</a></h3></li>
        {% endif %}
      </ul>
    </nav>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="warning">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </body>
</html>
