<!doctype html>
<html>
  <head>
    {% block head %}
    <title>{% block title %}{% endblock %} | DROMS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
  </head>
  <body>
    <nav>
      <h1><a href="{{ url_for('index') }}">DROMS</a></h1>
      <ul>
        <li>[{{ session['cart'] | sum(attribute='qty') }}]
        <li><a href="{{ url_for('cart.view_cart') }}">View Order</a>
        {% if g.user %}
          <li>Welcome {{ g.user['username'] }}
          <li><a href="{{ url_for('auth.logout') }}">Logout</a>
          <li><a href="{{ url_for('auth.register') }}">Register</a>
        {% else %}
          <li><a href="{{ url_for('auth.login') }}">Login</a>
        {% endif %}
      </ul>
    </nav>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div>{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </body>
</html>
